<div class="quickstart-app row">
    <div class="col-md-6">
        <i>Public Address: </i>
        <pre><code class="language-bash" id="accountAddressOutput"> </code></pre>
        <button type="button" id="createAccountButton" class="btn btn-primary block" onclick="createAnAccount()"
            disabled>Create Account</button>
    </div>
    <div class="col-md-6">
        <i>Balance: </i>
        <pre><code class="language-bash" id="balanceOutput">0</code></pre>
        <button type="button" id="getFundsButton" class="btn btn-primary block" onclick="getFunds()" disabled>Get
            Funds</button>
    </div>    
</div>